<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="teams/sidebar.css">
    <meta charset="utf-8">
    <title>Healthy</title>
    <nav role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="row">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">
                <h4 class="text-center">{%block title%}{% endblock%}</h4>
              </div>
              <div class="col-sm-4">
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#">Team</a></li>
                  <li><a href="#">Recruit</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </nav>
  </head>
  <body>
    <div id="wrapper">

        <aside id="sideBar">
            <ul class="main-nav">
                <!-- Your Logo Or Site Name -->
                <!-- Search -->
                <li>
                    <a href="#">- Bootstrap</a>
                </li>
                <li>
                    <a href="#">- Mail Inbox</a>
                </li>
                <li>
                    <a href="#">- Form Controls</a>
                </li>
                <li>
                    <a href="#">- UI Elements</a>
                </li>
                <li>
                    <a href="#">- Calendar / Dates</a>
                </li>
                <li>
                    <a href="#">- Drag / Drop</a>
                </li>
                <li>
                    <a href="#">- App Views</a>
                </li>
                <li>
                    <a href="#">- Another Menu item</a>
                </li>
            </ul>
        </aside>
      </div>

  </body>
</html>
