{% extends "teams/index.html"%}
{%block header%}
Assemble Your Team
{%endblock%}

{%block content%}
<div class="wrapper text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{%url 'browse_trainers'%}" type="button" class="btn btn-danger btn-md active">Personal Trainers</a>
    <a href="{%url 'browse_nutritionists'%}" type="button" class="btn btn-danger btn-md">Nutritionists</a>
    <a href="{%url 'browse_doctors'%}" type="button" class="btn btn-danger btn-md">Doctors</a>
  </div>
</div>
<hr>

<div class="row">
  {% for t in trainers%}
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{{t.pic.url}}" alt="pro">
      <div class="caption">
        <h3><a href="{%url 'person' t.username%}">{{t.username}}</a></h3>
        <h5>Experience:</h5>
        <p>{{t.experience}}</p>
      </div>
    </div>
  </div>
  {%endfor%}
</div>

{%endblock%}
