{% extends "teams/index.html"%}
{%block header%}
{{person.username}}

{%endblock%}
{%block content%}
<div class="container-fluid">
  <div class="col-sm-4">
    <h1>{{person.first_name}} {{person.last_name}}</h1>

  </div>
  <div class="col-sm-4 text-center">
    <img src="{{person.pic.url}}" height=100 width=100>
  </div>
  <div class="col-sm-4 text-right">
    <form method="POST" action="{%url 'person' person.username%}">
      {% csrf_token %}
      {%if button == 0%}
        <button class="btn btn-primary">Drop</button>
      {%elif button == 1%}
        <button class="btn btn-danger" disabled>Pending</button>
      {%else%}
        <button class="btn btn-danger">Recruit</button>
      {%endif%}
    </form>
  </div>


</div>

  <hr>
  <h2>Bio:</h2>
  <p>{{person.bio}}</p>
  <h2>Experience:</h2>
  <p>{{person.experience}}</p>
  <h2>Location:</h2>
  <p>{{person.city}}, {{person.state}}</p>
{%endblock%}
