{% extends "teams/index.html"%}
{%block header%}
    Your Health Team ({{user.group.count}})
{%endblock%}
{%block content%}

    <div class="row">
      <div class="col-sm-4">
        <h3 class="text-center">Personal Trainer</h3><hr>
        {% for p in user.group.all %}
          {%if p.area == "TRAIN"%}
           {{p.username}}
          {%endif%}
        {% endfor %}
      </div>
      <div class="col-sm-4">
        <h3 class="text-center">Nutritionist</h3><hr>
        {% for p in user.group.all %}
          {%if p.area == "NUTRITION"%}
           {{p.username}}
          {%endif%}
        {% endfor %}
      </div>
      <div class="col-sm-4">
        <h3 class="text-center">Doctor</h3><hr>
        {% for p in user.group.all %}
          {%if p.area == "MD"%}
           {{p.username}}
          {%endif%}
        {% endfor %}
      </div>
    </div>
{%endblock%}
