{% extends "teams/index.html"%}
{%block header%}
    Your Health Team ({{peeps.count}})
{%endblock%}
{%block content%}
<div class="wrapper text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="{%url 'profile'%}" type="button" class="btn btn-danger btn-md">Your Team</a>
      <a href="{%url 'provider'%}" type="button" class="btn btn-danger btn-md active">Your Clients</a>
    </div>
  </div>
  <h3 class="text-center">Clients</h3><hr>

    <div class="row">
      {% for p in peeps %}
      <div class="col-sm-4">
          <div class="thumbnail">
            <img src="{{p.pic.url}}" alt="pro">
            <div class="caption">
              <h3><a href="{%url 'person' p.username%}">{{p.username}}</a></h3>
              <button class="btn btn-danger" id="addTask" person="{{p.id}}">Add a Task</button>
              <input type="text" id="taskInfo">
            </div>
          </div>

      </div>
      {% endfor %}
      </div>
{%endblock%}

{%block javascript%}
  <script>

    var buttons = document.getElementsByTagName("button");
    var inputs = document.getElementsByTagName("input");
    for(var x = 0; x<buttons.length; x++){
      inputs[x].setAttribute("order", x);
      buttons[x].setAttribute("order", x);
      buttons[x].addEventListener("click", function(){
        getTask(this);
      })
    }

    function getTask(btn){
      var order = parseInt(btn.getAttribute("order"));
      var p = parseInt(btn.getAttribute("person"));
      var input;
      for(var x = 0; x<inputs.length; x++){
        if(inputs[x].getAttribute("order") == order){
          input = inputs[x].value;
          inputs[x].value="";
        }
      }
      if(input==""){
        console.log("no input given");
      }else{
        makeTask(input, p);
      }
    }

    function makeTask(input, person){
      $.ajax({
        type:"GET",
        url:"/teams/addTask",
        data: {'info':input, 'person':person}
      });
    }

  </script>
{%endblock%}
