<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
btn-toolbar{
  text-align: center !important;
}

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-5">
            <form method="POST" action="{%url 'info'%}" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="text-center text-primary">Info</h1>
                <a href="{%url 'profile'%}" class="text-center">Home</a>
                <h3 class="text-danger text-center hidden" id="error"></h3>
                <p class="text-center">First Name:</p>
                <input class="form-control text-center" type="text" value="{{user.first_name}}" name='first_name'></input><br>
                <p class="text-center">Last Name:</p>
                <input class="form-control text-center" type="text" value="{{user.last_name}}" name='last_name'></input><br>
                <p class="text-center">Bio:</p>
                <input class="form-control text-center" type="text" value="{{user.bio}}" name='bio'></input><br>
                <p class="text-center">Experience:</p>
                <input class="form-control text-center" type="text" value="{{user.experience}}" name='experience'></input><br>
                <p class="text-center">State:</p>
                <input class="form-control text-center" type="text" value="{{user.state}}" name='state'></input><br>
                <p class="text-center">City:</p>
                <input class="form-control text-center" type="text" value="{{user.city}}" name='city'></input><br>
                <p class="text-center">Profile Picture:</p>
                {%if user.pic != "media/noprofile.png"%}
                <p>Currently selected: {{user.pic}}</p>
                {%endif%}
                <input class="form-control" type="file" name="proPic" id="proPic"></input><br>
                <p class="text-center">What type of user are you?</p>
                <select class="form-control text-center" name="selection" id="selection">
                  <option>User</option>
                  <option>Personal Trainer</option>
                  <option>Nutritionist</option>
                  <option>Doctor</option>
                </select><br>

                <div class="text-center">
                    <button class="btn btn-primary center">Submit</button>
                </div><br>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
  $(document).ready(function(){
    var expertise = "{{user.area}}";
    if(expertise == "MD"){
      document.getElementById("selection").selectedIndex = 3;
    }else if (expertise == "TRAIN") {
      document.getElementById("selection").selectedIndex = 1;
    }else if (expertise == "User") {
      document.getElementById("selection").selectedIndex = 0;
    }else if (expertise == "NUTRITION") {
      document.getElementById("selection").selectedIndex = 2;
    }
  });
  function getIns(){
    var a = document.getElementsByTagName("input");
    var b = [];
    for(var x = 0; x<a.length; x++){
      if(a[x].getAttribute("id")!="proPic"){
        b.push(a[x]);
      }
    }
    return b;
  }

  $("button").click(function(event){
    var inputs = getIns();
    var count = 0;
    for(var x = 1; x<inputs.length; x++){
      if(inputs[x].value != ""){
        count++;
      }
    }
    if(count != inputs.length-1){
      event.preventDefault();
      if($("#error").hasClass("hidden")){
        $("#error").toggleClass("hidden");
      }
      $("#error").html("Some information is missing");
    }
  });

</script>

</html>
